<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <table>
        <tr>
            <td>名称</td>
            <td>值</td>
            <td>类型</td>
            <td>描述</td>
        </tr>
        {% for config in configs %}
            <tr>
                <td>{{ config.name }}</td>
                <td>{{ config.value }}</td>
                <td>{{ config.value_type }}</td>
                <td>{{ config.description }}</td>
            </tr>
      {% endfor %}
    </table>

</body>
</html>